#audio_player {
	display: flex;
	justify-content: space-around;	 
	padding-top: 20px;
	padding-bottom: 10px;
}

#audio_player div {
	display: flex;
	flex-direction: column;
}

#audio_player div span {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
}

#bounce-expl {
	width: 69%;
	max-width: 800px;
	min-width: 450px;
}


