#audio-tags {
	width: 65%;
	max-width: 700px;
	min-width: 450px;
}

#mockup-gui {
	width: 70%;
	max-width: 800px;
	min-width: 450px;
}

#final-gui-design {
	width: 69%;
	max-width: 800px;
	min-width: 450px;
}

.mh-real-list li{
	padding-bottom: 10px;
}